*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

body{
    background: linear-gradient(90deg, #43cea2, #185a9d);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 25%;
    padding: 1%;
    border-radius: 8px;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
}

@media screen and (max-width: 700px){
    .container{
        width: 80%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1400px){
    .container{
        width: 50%;
    }
}

.shadow{
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.container-info, .container-error{
    display: none;
}

.container-info-active, .container-error-active{
    display: flex;
    flex-direction: column;
    text-align: center;
    scale: 0;
    opacity: 0;
}

.hum-wind{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2%;
}

label{
    display: none;
}

p{
    flex: 50%;
}

img{
    max-width: 100%;
    width: 30%;
    align-self: center;
    height: auto;
    object-fit: contain;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

h2{
    font-size: 1.3em;
}

.input-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 3%;
    box-sizing: border-box;
    width: 75%; 
}

.title{
    padding-bottom: 2%;
}

button{
    border: none;
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;    
}

.search{
    width: 80%;
    padding: 0;
}

.show-up{
    animation: 0.5s show-up forwards;
}

@keyframes show-up {
    to{
        scale: 1;
        opacity: 1;
    }   
}